:root {
  /* cores do tema claro */
  --bg: #ffffff;
  --text: #0a0e11;
  --primary: #0a0e1a;
  --secondary: #5ce1e6;
  --accent: #ff4081;
  --card: #151923;
}

/* tema escuro */
body.dark {
  --bg: #000000;
  --text: #f4f5f6;
  --primary: #f4f5f6;
  --secondary: #5ce1e6;
  --accent: #ff79c6;
  --card: #8fa1cf;
}


body {
  background: var(--bg);
  color: var(--primary);
  transition: background 0.3s, color 0.3s;
}

h1 {
  color: var(--primary);
}
