footer {
  background-color: var(--primary);
  padding-top: 20px;
  border-top: 2px solid var(--line);
}

.titleFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 8px;
}

.logoAndTitleFooter{
  display: flex;
  align-items: center;
  gap: 16px;
}

.titleFooter p {
  color: var(--text);
}

.titleFooter strong,
.titleFooter h5 {
  color: var(--secondary);
}

.titleFooter a {
  color: var(--text);
  text-decoration-line: none;
  text-align: start;
}

.titleFooter a:hover {
  color: var(--secondary-hover);
}

.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--card);
  border: 1px solid var(--line);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-decoration: none;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.circle:hover {
  background-color: #1d3131;
  color: var(--text);
  transform: translateY(-2px);
}

.circle.circleSalmon:hover {
  background-color: rgb(29, 25, 24);
  color: salmon;
}

.circle i {
  font-size: 1.2rem;
  color: inherit;
}

.social-links {
  display: flex;
  gap: 12px;
}

.footerEmail {
  padding-bottom: 32px;
  border-bottom: solid 1px var(--line);
}

.footerEmail {
  padding: 32px 0px;
  border-top: solid 1px var(--line);
}

.footerEmail .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerEmail .text h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary);
}

.footerEmail .text p {
  font-size: 14px;
  color: #fff;
}

.footerEmail .form {
  display: flex;
  justify-content: flex-end;
}

.contentFormEmail {
  display: flex;
  align-items: center;
  gap: 10px;
}

#inputEmail {
  background-color: #000;
  color: var(--secondary);
}

#inputEmail:focus {
  border-color: var(--secondary-hover);
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 109, 128, 0.3);
}

#inputEmail::placeholder {
  color: var(--secondary-hover);
}

.formBtn button {
  color: #000;
  font-weight: 600;
  transition: transform 0.5s ease;
}

.formBtn button:hover {
  transform: scale(1.1);
  color: var(--secondary);
}

.footerEnd {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.footerEnd p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}