header .navbar {
  background-color: var(--primary) !important;
  border-bottom: 2px solid var(--line);
}


.navbar .nav-link {
  color: var(--text) !important;
}

.navbar .nav-link:hover {
  color: var(--secondary) !important;
}

.navbar .navbar-brand {
  color: var(--text) !important;
}

.navbar .navbar-brand:hover {
  transform: scale(1.1);
  color: var(--text) !important;
}


.navbar-nav .nav-link {
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: var(--secondary);
}

.nav-link.active {
  color: var(--secondary) !important;
}

#addImage {
  background-color: var(--secondary);
  color: var(--primary);
  transition: transform 0.3s;
}

#addImage:hover {
  background-color: var(--secondary-hover);
  transform: scale(1.05);
}


