.carousel,
.carousel-inner,
.carousel-item {
  height: auto;
}

.carousel-item img {
  display: block;
  width: 100%;
}

#carouselHome {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
}

#carouselHome img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel-caption {
  bottom: 10px;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-item {
  position: relative;
}

.btnsImg {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  display: flex;
  gap: 5px;
  opacity: 80%;
}

.btnsImg .btn-warning:hover {
  background-color: #e0a800;
}

.btnsImg .btn-danger:hover {
  background-color: #bb2d3b;
}
